@media screen and (max-width: 520px){

.painho{
    width: 80vw;
    height: 40vh;
    align-items: center;
    justify-content: space-between;
}
.painho img{
    width: 70%;
}
form{
    margin-bottom: 30px;
    border-radius: 13px;
    width: 90%;
    height: 70%;
}
form h1{
    font-size: .9em;
    margin-top: 20px;
}
form input{
    height: 8%;
    width: 80%;
    border-radius: 12px;
    padding: 7;
}
form input::placeholder{
    font-size: 10px;
    opacity: .7;
}
form button{
    width: 100px;
    padding: 5px;
    font-size: 10px;
}
body{
    flex-direction: column;
}
#welcome{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 70vw;
    height: 13vh;
    margin-bottom: 30px;
}
#welcome h1{
    font-size: 1em;
    max-width: 190px;
}
#welcome h2{
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1em;
}

















}