
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    text-transform: none;
    text-decoration: none;
}
.painho{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.795);
    border-radius: 20px;
    width: 450px;
    height: 750px;
}
form{
    font-family: 'Montserrat', sans-serif;
    width: 400px;
    height: 550px;
    background-color: rgb(92, 11, 0);
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
body{
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(imgs/back.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    color: rgb(255, 255, 255);
}
form h1{
    margin-bottom: 20px;
    font-size: 2em;
}
form input{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    width: 70%;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    border: none;
}
form input::placeholder{
    color: black;
}
form input:focus{
    outline: none;
}
form button{
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    background-color: rgb(194, 156, 34);
    border: none;
    cursor: pointer;
    transition: .5s;
}
form button:hover{
    background-color: brown;
}
form button a{
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}


/* Pre-Loader */


.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #ff7300;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}